.card {
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  margin: 0 15px 55px;
  width: 170px;
  min-height: 260px;
  border: solid 1px #b5b5b5;
  border-radius: 10px;
  background: #fff;
}
.imageWrap {
  position: relative;
  overflow: hidden;
  height: 134px;
  background: #ddd;
}
.imageWrap img {
  max-width: 100%;
  border: 0;
}
.info {
  padding: 10px 16px;
}
.infoText {
  margin: 0.4em 0;
  padding-left: 0.5em;
  font-size: 14px;
  font-weight: normal;
}
.infoTitle {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.infoGrade {
  margin-top: -0.2em;
}
.infoGenre {
  margin-top: -0.4em;
  font-size: 11px;
}
.infoDetail {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color: #00c1ff;
}
.infoDetail a {
  color: #00c1ff;
  text-decoration: none;
}
.infoTest {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 12px;
}
.infoTest a {
  text-align: center;
  cursor: pointer;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
  border: none transparent;
  font-family: inherit;
  font-size: 100%;
  display: block;
  color: #fff;
  padding: 0.4em 0.1em;
  border-radius: 6px;
  background: #00c1ff;
}
